img  {
width: 300xp;
height: 400xp;
}
p {
    color: rgb(42, 3, 78);
    background-color: rgb(65, 1, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
    font-weight: bold;
}
#header {
    background-color: rgb(3, 73, 73);
}
 pink {
     background-color: tomato;
    }
    body {
        text-align: center;
        
    }